.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.fullWidthContainer {
  width: 100vw;
  position: relative;
}

.about {
  color: black;
}

.contact {
  color: black;
}
